<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <header th:replace="~{common/base :: head}"></header>
</head>
<body>
  <!-- 핑크 배경-->
  <div class="container mt-3">
    <div class="card" style="background-color: rgb(245, 222, 226);">
      <div class="card-body" style="height: 750px;">
        <h4 class="card-title">Card title</h4>
        <!--핑크 배경안 종이 -->
        <div class="row">
          <div class="col-4">
            <!--커플 프로필 -->
            <div th:insert="~{common/base :: aside}"></div>
          </div>
          <div class="col-7">
            <div class="card" style="height: 650px;">
              <div class="card-body">
                <h3>board</h3>

                <div style="display: flex;" >
                  <div class="card-body" style="flex: 1; width: 300px; border: 2px solid black;">
                    <h4 class="card-title">게시판1</h4>
                    <p class="card-text">John Doe is an architect and engineer</p>
                  </div>

                  <div class="card-body" style="flex: 1; width: 300px; border: 2px solid black;">
                    <h4 class="card-title">일러스트</h4>
                    <p class="card-text"> engineer</p>
                  </div>
                </div>
<br/>
              <!-- 슬라이드 시작-->
<div style="display: flex; justify-content: center;">
  <div id="demo" class="carousel slide" data-bs-ride="carousel" style="width: 400px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- 주소, 이미지는 상황에 맞게 바꾸기 -->
        <div class="d-flex  align-items-center" style="height: 300px; width: 500px;">
          <img src="../img/1.png" class="d-block" style="width: 400px; max-height: 300px;"
            alt="First slide">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex  align-items-center" style="height: 300px; width: 500px;">
          <img src="../img/2.png" class="d-block" style="width: 400px; max-height: 300px;"
            alt="Second slide">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex align-items-center" style="height: 300px; width: 500px;">
          <img src="../img/James.jpg" class="d-block" style="width: 400px; max-height: 300px;"
            alt="Third slide">
        </div>
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>
<!-- 슬라이드 끝 -->

<br/>
                <div class="card-body" style="flex: 1; border: 2px solid black;">
                  <h4 class="card-title">사랑의 명언</h4>
                  <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1">
            <div th:insert="~{common/base :: postIt}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</body>

</html>